{% extends 'layout.html' %}
{% block content %}
        <section class="lf" style="padding-bottom: 120px;">
            <h1>학교를 선택해주세요</h1>
            <ol class="list">
            {% for i in result %}
                {% set sub = i['ATPT_OFCDC_SC_NM'].replace("교육청", "") %}
                <li>
                    <a class="btn" href="{{ url_for('meal.show_today', edu_code=i['ATPT_OFCDC_SC_CODE'], school_code=i['SD_SCHUL_CODE']) }}">({{ sub }}) {{ i['SCHUL_NM'] }}</a>
                </li>
            {% endfor %}
            </ol>
        </section>

        <section class="nav-right-bottom">
            <a class="btn" href="{{ url_for('index.index') }}">학교 검색하러 가기</a>
        </section>
{% endblock %}