{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h1>학교를 선택해주세요</h1>
            <div style="margin-top:-24px;margin-bottom:0;">
                <a class="l" href="{{ url_for('index.index') }}">돌아가기</a>
            </div>
            <ol class="list" id="display"></ol>
        </section>
{% endblock %}
{% block script %}
        <script>
            const list = {{ result|safe }};
            for(key in list){
                var li = document.createElement("li");
                var a = document.createElement("a");

                a.setAttribute("class", "btn");
                a.setAttribute("href", list[key]['url']);
                a.appendChild(document.createTextNode(list[key]['name']));

                li.appendChild(a);
                document.getElementById("display").appendChild(li);
            }
        </script>
{% endblock%}