{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>{{ title }}</h2>

        {% for ctx in context %}
            <h3>
                <button class="select l no-script" data-select="{{ url_for('read.show', author=ctx.author, title=ctx.title, idx=idx) }}" style="padding-left:0;">{{ ctx.title }}</button>
                <noscript><a class="l" href="{{ url_for('read.show', author=ctx.author, title=ctx.title, idx=idx) }}">{{ ctx.title }}</a></noscript>
            </h3>
            <p style="margin-top:-24px;">{{ ctx.author }}</p>
        {% endfor %}
        </section>

        <section class="nav-right-bottom">
            <button class="btn no-script" id="back">{{ button }}</button>
            <noscript>
                <a class="btn" href="{{ target }}">{{ button }}</a>
            </noscript>
        </section>
{% endblock %}
{% block script %}
        <script src="{{ url_for('static', filename='js/select.js') }}"></script>
        <script type="text/javascript">
            btn("#back","{{ target }}");
        </script>
{% endblock %}