{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>{{ title }}</h2>

        {% for ctx in context %}
            <h3>
                <a class="l" href="{{ url_for('read.show', author=ctx.AUTHOR, title=ctx.TITLE, idx=idx) }}">{{ ctx.TITLE }}</a>
            </h3>
            <p style="margin-top:-24px;">{{ ctx.AUTHOR }}</p>
        {% endfor %}
            <br><br>
        </section>

        <section class="nav-right-bottom">
            <a class="btn" href="{{ target }}">{{ button }}</a>
        </section>
{% endblock %}