{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>{{ title }}</h2>
            <p class="l" style="margin-top:-24px;">{{ ctx.AUTHOR }}</p>

        {% for line in ctx.CONTENT %}
            <span>{{ line|safe }}</span><br>
        {% endfor %}
        </section>

        <section class="nav-right-bottom">
            <p style="margin:0;margin-bottom:4px;">
                <a class="btn" href="{{ url_for('read.index', idx=idx) }}">다른 시</a>
            </p>
            <a class="btn" href="{{ target }}">{{ button }}</a>
        </section>
{% endblock %}