click==8.0.1
colorama==0.4.4
Flask==2.0.1
flask-redis==0.4.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysqlclient==2.0.3
Paste==3.5.0
redis==3.5.3
six==1.16.0
waitress==2.0.0
Werkzeug==2.0.1
