.modal {
    visibility: hidden;
    text-align: left;
}

.is-open {
    visibility: visible;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    margin-left: 20px;
    margin-right: 20px;
}