{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h1>{{ title }}</h1>
            <div style="margin-top:-24px;margin-bottom:0;">
                <a class="l" href="{{ url_for('admin.delete') }}">캐시 삭제하기</a>
            </div>
            <p class="l">
                <b>{{ keys|length }}</b>개의 급식이 캐싱됨
            </p>
            <ol class="list">
            {% for key in keys[:25] %}
                {% set k = key.split("#") %}
                <li>
                    <a class="btn" href="{{ url_for('meal.show', edu_code=k[0], school_code=k[1], date=k[2]) }}" target="_blank">{{ k[0] }}&nbsp;{{ k[1] }}&nbsp;{{ k[2][:4] }}-{{ k[2][4:6] }}-{{ k[2][6:] }}</a>
                </li>
            {% endfor %}
            </ol>
        </section>
{% endblock %}