{% extends 'layout.html' %}
{% block content %}
        <form method="post" action="{{ url_for('read_manage.adding') }}">
        <section class="lf">
            <h2><input type="text" name="title" placeholder="제목"></h2>
            <p class="l" style="margin-top:-24px;"><input type="text" name="author" placeholder="작가"></p>

            <textarea id="content" name="content" style="width:60%;"></textarea>
        </section>

        <section class="n-menu">
            <div>
                <input type="password" name="password" placeholder="비밀번호">
                <input type="number" name="otp" placeholder="인증키">
            </div><br>
            <div>
                <button class="btn" type="submit">작성 완료</button>
            </div>
        </section>
        </form>
{% endblock %}
{% block script %}
        <script>
            let worker;
            document.querySelector("#content").addEventListener("focus",function(){
                worker = setInterval(function(){
                    document.querySelector("#content").style.height = "1px";
                    document.querySelector("#content").style.height = (document.querySelector("#content").scrollHeight+8)+"px";
                }, 450);
            });
            document.querySelector("#content").addEventListener("blur",function(){
                clearInterval(worker);
            });
        </script>
{% endblock %}