{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>{{ title }}</h2>
            <p class="l" style="margin-top:-24px;">{{ ctx.author }}</p>

        {% for line in ctx.content.split("#") %}
            {{ line|safe }}<br>
        {% endfor %}
        </section>

        <section class="menu">
            <a class="btn" href="{{ url_for('read_manage.edit', idx=idx) }}" style="width:20%;">수정하기</a>
            <a class="btn" href="{{ url_for('read_manage.delete', idx=idx) }}" style="width:20%;">삭제하기</a>
        </section>

        <section class="nav-right-bottom">
            <button class="btn no-script" id="back">뒤로 가기</button>
        </section>
{% endblock %}
{% block script %}
        <script type="text/javascript">
            btn("#back","{{ url_for('read_manage.index') }}");
        </script>
{% endblock %}