{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>{{ title }}</h2>
            <p class="l" style="margin-top:-24px;">{{ ctx.author }}</p>

        {% for line in ctx.content.split("#") %}
            {{ line|safe }}<br>
        {% endfor %}
        </section>

        <section class="menu">
            <a class="btn" href="{{ url_for('read_manage.edit', idx=idx) }}" style="width:10%;">수정</a>
            <a class="btn" href="{{ url_for('read_manage.delete', idx=idx) }}" style="width:10%;">삭제</a>
            <a class="btn no-script" href="{{ url_for('read_manage.index') }}" style="width:10%;">목록</a>
        </section>
{% endblock %}