{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>{{ title }}</h2>
        </section>

        <section class="lf">
            <h2>서버</h2>
            <span class="l" id="ver_server">{{ ver_server }}</span>
        </section>

        <section class="lf">
            <h2>클라이언트</h2>
            <span class="l" id="ver_client">-</span>
        </section>

        <section class="nav-right-bottom">
            <a class="btn" href="{{ url_for('index.index') }}">학교 검색하러 가기</a>
        </section>
{% endblock %}
{% block script %}
        <script src="{{ url_for('pwa_files.service_worker') }}"></script>
        <script type="text/javascript">
            document.getElementById("ver_client").innerHTML = CACHE_VER;
        </script>
{% endblock %}