{% extends 'layout.html' %}
{% block content %}
        <section class="nav">
            <a class="btn" href="mailto:{{ g.email }}">문의하기</a>
        </section>

        <section class="message-box l">
            <p>인터넷에 연결되지 않았습니다</p>
        </section>

        <section class="menu">
            <button class="btn no-script" id="root">학교 검색하러 가기</button>
            <noscript>
                <a class="btn" href="{{ url_for('index.index') }}">학교 검색하러 가기</a>
            </noscript>
        </section>
{% endblock %}