{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>{{ title }}</h2>
            <div style="margin-top:-24px;margin-bottom:0;">
                <a class="l" href="{{ url_for('app.tool') }}">즐겨찾기 관리자</a>
            </div>
        </section>

        <section class="lf">
            <noscript>
                <span class="high l">자바스크립트를 활성화해야 사용이 가능합니다</span>
            </noscript>

            <ol class="list" id="render_target">
            </ol>
        </section>

        <section class="nav-right-bottom">
            <a class="btn" href="{{ url_for('index.index') }}">학교 검색하러 가기</a>
        </section>
{% endblock %}
{% block script %}
        <script src="{{ url_for('static', filename='js/star.js') }}"></script>
        <script type="text/javascript">
            render_star();
        </script>
{% endblock %}