{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>{{ title }}</h2>
            <ol class="list no-script" id="render_target">
            </ol>

            <noscript>
                <span class="high l">자바스크립트를 활성화해야 사용이 가능합니다</span>
            </noscript>
        </section>

        <section class="nav-right-bottom">
            <div class="no-script">
                <button class="btn" id="root">학교 검색하러 가기</button>
            </div>
            <noscript>
                <a class="btn" href="{{ url_for('index.index') }}">학교 검색하러 가기</a>
            </noscript>
        </section>
{% endblock %}
{% block script %}
        <script src="{{ url_for('static', filename='js/star.js') }}"></script>
        <script type="text/javascript">
            render_star();
        </script>
        <script src="{{ url_for('static', filename='js/select.js') }}"></script>
{% endblock %}