{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>{{ title }}</h2>
            <div style="margin-top:-24px;margin-bottom:0;">
                <a class="l" href="{{ url_for('app.start_page') }}">즐겨찾기 확인하기</a>
            </div>
        </section>

        <section class="lf">
            <h2>내보내기</h2>
            <textarea id="output" style="width:60%;" readonly="readonly"></textarea><br>
            <button class="btn" id="export">내보내기</button>
            <button class="btn copy" data-clipboard-target="#output">복사하기</button>
        </section>

        <section class="lf">
            <h2>가져오기</h2>
            <textarea id="input" style="width:60%;"></textarea><br>
            <button class="btn" id="import">가져오기</button>
        </section>

        <section class="nav-right-bottom">
            <a class="btn" href="{{ url_for('index.index') }}">학교 검색하러 가기</a>
        </section>
{% endblock %}
{% block script %}
        <script src="{{ url_for('static', filename='js/star.js') }}"></script>
        <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
        <script type="text/javascript">
            new ClipboardJS(".copy").on("success",function(){window.alert("복사되었습니다!");});
            document.querySelector("#export").addEventListener('click',function(){document.querySelector("#output").value = JSON.stringify(get_star());});
            document.querySelector("#import").addEventListener('click',function(){var star=JSON.parse(document.querySelector("#input").value);var keys=Object.keys(star);for(var key in keys){add_star(keys[key], star[keys[key]]);}window.alert("완료");});
        </script>
{% endblock %}