{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>{{ title }}</h2>
            <div style="margin-top:-24px;margin-bottom:0;">
                <a class="l" href="{{ url_for('app.start_page') }}">즐겨찾기 확인하기</a>
            </div>
        </section>

        <section class="lf">
            <h2>내보내기</h2>
            <button class="btn" id="download_ready">즐겨찾기 다운로드</button>
            <a id="download" style="display:none;"></a>
        </section>

        <section class="lf">
            <h2>가져오기</h2>
            <input type="file" id="fake_upload">
            <button class="btn" id="import">가져오기</button>
        </section>

        <section class="lf">
            <h2>초기화</h2>
            <button class="btn" id="reset">즐겨찾기 초기화</button>
        </section>

        <section class="nav-right-bottom">
            <a class="btn" href="{{ url_for('index.index') }}">학교 검색하러 가기</a>
        </section>
{% endblock %}
{% block script %}
        <script src="{{ url_for('static', filename='js/star.js') }}"></script>
        <script type="text/javascript">
            document.getElementById("import").addEventListener('click',function(){
                var fake_upload = document.getElementById("fake_upload").files[0];

                if(typeof fake_upload != "undefined"){
                    console.log(fake_upload);

                    const reader = new FileReader();
                    reader.addEventListener('load', function(){
                        try{
                            var star = JSON.parse(reader.result);
                            var keys = Object.keys(star);

                            for(var key in keys){
                                add_star(keys[key], star[keys[key]]);
                            }
                            window.alert("완료");
                        }
                        catch{
                            window.alert("즐겨찾기 정보가 저장된 파일이 아닙니다");
                        }
                    });
                    reader.readAsText(fake_upload);
                }
                else{
                    window.alert("파일을 선택해야 합니다.");
                }
            });
            document.getElementById("download_ready").addEventListener('click',function(){
                var download = document.getElementById("download");

                download.setAttribute("href", "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(get_star())));
                download.setAttribute("download", "즐겨찾기_백업.json");
                download.click();
            });
            document.getElementById("reset").addEventListener('click',function(){
                var star = get_star();
                var keys = Object.keys(star);
                for(var key in keys){
                    del_star(keys[key]);
                }

                window.alert("즐겨찾기 초기화 완료");
            });
        </script>
{% endblock %}