{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h1>급식</h1>
            <div style="margin-top:-24px;margin-bottom:0;">
                <a class="l" href="{{ url_for('read.index') }}">시 읽기</a>
            </div>
        </section>

        <section class="message-box l">
            <form method="post" action="{{ url_for('school.select') }}">
                <p>
                    <label for="school_name">학교 찾기</label>
                </p>
                <input type="text" name="school_name" id="school_name" placeholder="{{ placeholder }}" size="15" maxlength="10">
            </form>
        </section>

        <section class="nav-right-bottom" id="starBox">
            <a class="btn" href="{{ url_for('app.start_page') }}">즐겨찾기 확인하기</a>
        </section>
{% endblock %}
{% block script %}
        <script type="text/javascript">
            const box = document.getElementById("starBox");
            const input = document.getElementById("school_name");

            input.addEventListener("focus",function(){ box.setAttribute("style", "visibility: hidden;");  });
            input.addEventListener("blur",function(){  box.setAttribute("style", "visibility: visible;"); });
        {% if alert is not none %}
            window.alert("{{ alert }}");
        {% endif %}
        </script>
{% endblock %}