{% extends 'layout.html' %}
{% block content %}
    <section class="lf">
        <a href="{{ url_for('index.index') }}">← 학교 검색하러 가기</a>
    </section>

    <section class="message-box l">
        <span class="s" style="padding-bottom:3px;border-bottom: 0.7px solid #BCBCBC;">{{ day.strftime('%Y년 %m월 %d일') }}</span>
        <p><span class="high">30일</span>보다 먼 미래의 급식을 조회 할 수 없습니다.</p><br>

        <div class="poem">
            <a href="{{ url_for('poem.view', poem_id=poem_id, e=edu_code, s=school_code) }}">
                {{ p_text }}<br>
                <sub>{{ p_author }} - {{ p_title }}</sub>
            </a>
        </div>
    </section>

    <section class="menu weeks-btn">
        <a class="btn" href="{{ url_for('meal.show', edu_code=edu_code, school_code=school_code, date=today) }}">
            오늘 메뉴 확인하기
        </a>
    </section>
{% endblock %}