{% extends 'layout.html' %}
{% block content %}
    <section class="lf" style="margin-bottom:220px">
        <a href="{{ url_for('index.index') }}">← 학교 검색하러 가기</a>
        <h2 style="margin:0">{{ title }}의 급식 정보</h2>
        <p style="margin-top:0">
            <a href="{{ back }}">메뉴만 확인하기</a>
        </p>

    {% for meal in result: %}
        <hr style="margin-top:10px;margin-bottom:-1px">
        <table id="info_{{ meal['code'][0] }}">
            <tr>
                <th width="75px">정보</th>
                <td>{{ day.strftime('%Y년 %m월 %d일') }} / {{ meal['code'][1] }}</td>
            </tr>
            <tr>
                <th width="75px">칼로리</th>
                <td><span class="high">{{ meal['calorie'] }}</span></td>
            </tr>
            <tr>
                <th width="75px">메뉴</th>
                <td>
                    <ul>
                    {% for menu in meal['menu'] %}
                        <li>
                            {{ menu['name'] }}
                        {% if menu['allergy']|length != 0 %}
                            <span class="allergy high">[{{ ",".join(menu['allergy']) }}]</span>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th width="75px">영양정보</th>
                <td>
                    <ul>
                    {% for info in meal['nutrient'] %}
                        <li>{{ info }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th width="75px">원산지</th>
                <td>
                    <ul>
                {% for from in meal['origin'] %}
                    {% if not from|origin %}
                        <li><span class="high">{{ from }}</span></li>
                    {% else %}
                        <li>{{ from }}</li>
                    {% endif %}
                {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    {% endfor %}
    </section>

    <section class="menu">
        <a class="btn" href="{{ back }}">요약 정보 조회하기</a>
    </section>
{% endblock %}
{% block script %}
    <script>
        window.addEventListener("keydown",function(key){if(Number(key.key)>0){try{window.scrollTo({top: window.pageYOffset+document.getElementById("info_"+key.key).getBoundingClientRect().top, behavior:'smooth'});}catch{}}});
    </script>
{% endblock %}