{% extends 'layout.html' %}
{% block content %}
    <section class="lf">
        <a href="{{ url_for('index.index') }}">← 학교 검색하러 가기</a>
    </section>

    <section class="message-box l">
        <span class="s" style="padding-bottom:3px;border-bottom: 0.7px solid #BCBCBC;">{{ day.strftime('%Y년 %m월 %d일') }}</span>
        <p><span class="high">급식</span> 정보가 없습니다</p><br>

    {% if day != today %}
        <a class="btn" href="{{ url_for('meal.show', edu_code=edu_code, school_code=school_code, date='today') }}">
            오늘 메뉴 확인하기
        </a>
    {% endif %}
    </section>

    <section class="menu weeks-btn">
    {% for week in weeks: %}
    {% if week.datetime == today %}
        {% set href = url_for('meal.show', edu_code=edu_code, school_code=school_code, date='today') %}
        {% set style = "background-color:#5a5a5a;color:#DBDBDB" %}
    {% else %}
        {% set href = url_for('meal.show', edu_code=edu_code, school_code=school_code, date=week.ymd) %}
        {% set style = "" %}
    {% endif %}
        <a class="btn" href="{{ href }}" style="{{ style }}">
            {{ week.day_str }}<br>
            <sub>{{ week.dd }}일</sub>
        </a>
    {% endfor %}
    </section>
{% endblock %}