{% extends 'layout.html' %}
{% block content %}
        <section class="message-box l">
            <span class="s" style="padding-bottom:3px;border-bottom: 0.7px solid #BCBCBC;">{{ day }}</span>
            <p><span class="high">급식</span> 정보가 없습니다</p><br>
        </section>

        <section class="menu">
        {% if today is false %}
            <div style="padding-bottom:1px">
                <a class="high" href="{{ url_for('meal.show', edu_code=edu_code, school_code=school_code) }}" style="padding:5px;border-radius:0.3rem;">오늘 메뉴 보러가기</a>
            </div>
        {% endif %}
            <a class="btn" href="{{ url_for('meal.show', edu_code=edu_code, school_code=school_code, date=yesterday) }}">← 어제 급식</a>
            <a class="btn" href="{{ url_for('meal.show', edu_code=edu_code, school_code=school_code, date=tomorrow) }}">내일 급식 →</a>
        </section>

        <section class="nav-right-bottom">
            <a class="btn" href="{{ url_for('index.index') }}">학교 검색하러 가기</a>
        </section>
{% endblock %}