{% extends 'layout.html' %}
{% block content %}
        <section class="lf">
            <h2>'{{ title }}'의 급식 정보</h2>
            <div class="no-script">
                <button class="btn" id="share">카카오톡 공유</button>
                <button class="btn" id="star" style="display:none;">즐겨찾기</button>
            </div>
        {% for meal in result: %}
            <hr style="margin-top:10px;margin-bottom:-1px">
            <table id="meal_{{ meal['code'][0] }}">
                <tr>
                    <th width="75px">정보</th>
                    <td>{{ day }} / {{ meal['code'][1] }}</td>
                </tr>
                <tr>
                    <th width="75px">칼로리</th>
                    <td><span class="high">{{ meal['calorie'] }}</span></td>
                </tr>
                <tr>
                    <th width="75px" class="copy" data-clipboard-target="#menu_{{ meal['code'][0] }}">
                        메뉴<br class="no-script">
                        <span class="s high no-script">복사하기</span>
                    </th>
                    <td>
                        <ul id="menu_{{ meal['code'][0] }}">
                        {% for menu in meal['menu'] %}
                            <li>
                                {{ menu['name'] }}
                            {% if menu['allergy']|length != 0 %}
                                <span class="allergy high">[{{ ",".join(menu['allergy']) }}]</span>
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr class="no-script ie">
                    <th width="75px">추가정보</th>
                    <td>
                        <button class="btn" data-micromodal-trigger="nutrients_{{ meal['code'][0] }}">영양정보</button>
                        <button class="btn" data-micromodal-trigger="origin_{{ meal['code'][0] }}">원산지</button>
                    </td>
                </tr>
            </table>
        {% endfor %}
        </section>

        <section style="padding-top:100px;padding-bottom:160px;">
            <a id="poem" href="no-script" style="font-size:16px;">—</a>
        </section>

        <section class="menu">
        {% if today is false %}
            <div>
                <a class="btn" href="{{ url_for('meal.show', edu_code=edu_code, school_code=school_code) }}">
                    <b>오늘 메뉴</b> 보러가기
                </a>
            </div>
        {% endif %}
            <a class="btn" href="{{ url_for('meal.show', edu_code=edu_code, school_code=school_code, date=yesterday) }}">← 어제 급식</a>
            <a class="btn" href="{{ url_for('meal.show', edu_code=edu_code, school_code=school_code, date=tomorrow) }}">내일 급식 →</a>
        </section>

        <section class="nav-right-bottom">
            <a class="btn" href="{{ url_for('index.index') }}">학교 검색하러 가기</a>
        </section>
{% endblock %}
{% block modal %}
    {% for meal in result: %}
        <section class="modal" id="nutrients_{{ meal['code'][0] }}">
            <div class="overlay" tabindex="-1" data-micromodal-close>
                <div class="display" style="width:300px;">
                    <h2>영양정보 ({{ meal['code'][1] }})</h2>
                    <hr style="margin-bottom:0">
                    <ul style="max-height:220px;height:220px;margin:0;overflow-y:scroll;">
                    {% for info in meal['nutrient'] %}
                        <li>{{ info }}</li>
                    {% endfor %}
                    </ul>
                    <hr style="margin-top:0">
                    <button class="btn" style="width:100%" data-micromodal-close>화면 닫기</button>
                </div>
            </div>
        </section>

        <section class="modal" id="origin_{{ meal['code'][0] }}">
            <div class="overlay" tabindex="-1" data-micromodal-close>
                <div class="display" style="width:300px;">
                    <h2 style="margin:0">원산지 정보 ({{ meal['code'][1] }})</h2>
                    <hr style="margin-bottom:0">
                    <ul style="max-height:220px;height:220px;margin:0;overflow-y:scroll;">
                {% for from in meal['origin'] %}
                    {% if not from|origin %}
                        <li><span class="high">{{ from }}</span></li>
                    {% else %}
                        <li>{{ from }}</li>
                    {% endif %}
                {% endfor %}
                    </ul>
                    <hr style="margin-top:0">
                    <button class="btn" style="width:100%" data-micromodal-close>화면 닫기</button>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}
{% block script %}
        <script src="{{ url_for('static', filename='js/star.js') }}"></script>
        <script src="{{ url_for('static', filename='js/star-btn.js') }}"></script>
        <script src="{{ url_for('static', filename='js/kakao.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
        <script>
            new ClipboardJS(".copy").on("success",function(){window.alert("복사되었습니다!"),window.getSelection().removeAllRanges();});
            star_btn("{{ title }}", "{{ url_for('meal.show', edu_code=edu_code, school_code=school_code) }}");
            render_btn("{{ title }}"),document.getElementById("star").style.display="inline-block";
        </script>
        <script>
            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        let response = JSON.parse(xhr.responseText);
                        document.getElementById("poem").innerHTML = response.preview;
                        document.getElementById("poem").href = response.url;
                    }
                }
            };
            xhr.open("GET", "{{ url_for('read.get', idx=idx) }}", true);
            xhr.send(null);
        </script>
        <script>
            document.getElementById("share").addEventListener("click",function(){
                if(!Kakao.isInitialized()){Kakao.init("{{ g.k }}");}
                Kakao.Link.sendCustom({templateId:{{ g.tid }}, templateArgs:{name:"{{ title }}", path:"{{ edu_code }}/{{ school_code }}"}});
            });
            window.addEventListener("keydown", function(key){
                if(Number(key.key) > 0){ try{ window.scrollTo({top: window.pageYOffset + document.getElementById("meal_"+key.key).getBoundingClientRect().top, behavior: 'smooth'}); } catch{} }
            });
        </script>
    {% if request.user_agent.browser != "msie" %}
        <script src="{{ url_for('static', filename='js/micromodal.min.js') }}"></script>
        <script>MicroModal.init({ disableFocus:true });</script>
    {% endif %}
{% endblock %}